.container {
  margin: 0 auto;
  max-width: 1700px;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

header {
  height: 4rem;
  padding: 14px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;

  .logo {
    font-size: 20px;
    font-weight: 800;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  a {
    .profile {
      margin-left: 10px;
      width: 40px;
      height: 40px;
    }
  }
}

.container main nav {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
  ul {
    display: flex;
    box-sizing: border-box;
  }
}

.container main nav .accodian-menu {
  display: none;
}

.container main nav ul li {
  margin-right: 10px;
  display: flex;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
}

.container main nav ul li a {
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  transition: background 300ms ease-in;
  color: #616161;
  border-radius: 6px;
}

.container main nav ul li a.home {
  color: #000;
  background-color: rgb(235, 235, 235);
}

.container main nav ul li a:hover {
  color: #000;
  background-color: rgb(244, 244, 244);
  cursor: pointer;
}

li span {
  margin-left: 4px;
}

li:nth-child(1) {
  margin-left: 1px;
}

li:nth-child(2) span {
  margin-top: 2px;
}

.container main section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin: -1rem;
}

.icon {
  width: 16px;
}

.container main section div {
  width: 20rem;
  height: 350px;
  background-color: aquamarine;
  border-radius: 12px;
  margin: 1rem;
}
