.container {
  width: 100%;
  margin: 0 auto;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;
}

.container main {
  padding: 0 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container main nav {
  width: 180px;
  margin-right: 20px;
}

.container main nav ul {
  margin-top: 20px;
  box-sizing: border-box;
}

.container main nav li {
  color: #616161;
  display: flex;
  align-items: center;
  height: 26px;
  margin: 2px;
  padding: 6px 12px;
  font-weight: 600;
  border-radius: 4px;
  transition: background, margin 300ms ease-in;
  text-transform: uppercase;
}

.container main nav li.home {
  color: #000;
  background-color: rgb(235, 235, 235);
}

.container main nav li:hover {
  color: #000;
  font-weight: 700;
  margin-left: 4px;
  cursor: pointer;
}

.container main section {
  display: grid;
  grid-template-columns: repeat(4, 320px);
  margin-top: 20px;
}

.icon {
  width: 16px;
}

li span {
  margin-left: 4px;
}

li:nth-child(1) {
  margin-left: 1px;
}

li:nth-child(2) span {
  margin-top: 2px;
}

.container main section div.card {
  width: 300px;
  height: 350px;
  background-color: aquamarine;
  border-radius: 12px;
  margin-bottom: 20px;
}
